.hat {
position: absolute;
top: 0;
left: 0;
width: 100%;
z-index: 10;
}

.hat__container {
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hat-nav-list {
    display: none;
}

@media screen and (min-width: 768px) {
    .hat__container {
        padding-top: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .open-mobile-menu-button {
        display: none;
    }

    .hat-nav-list {
        display: flex;
        gap: 20px;
    }

    .hat__container {
        padding-top: 36px;
        justify-content: flex-start;
        gap: 55px;
    }

    .hat-nav-list__link {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 18px;
        line-height: (22/18);
        color: var(--primary-text-color);
    }
}