.speakers__container {
    padding-top: 35px;
}

.speakers__title {
    font-weight: 500;
    font-size: 24px;
    line-height: (29/24);
    color: var(--primary-text-color);

    text-align: center;
    margin-bottom: 16px;
}

.speakers__img {
    display: block;
    width: 130px;
    margin-bottom: 12px;
}

.speakers__list-item {
    width: 130px;
    
}

.speakers__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.name {
    font-weight: 600;
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: (20/16);

    text-align: center;
    margin-bottom: 12px;
}

.position {
    font-weight: 500;
    font-size: 12px;
    line-height: (15/12);
    color: var(--primary-text-color);

    text-align: center;
}

@media screen and (min-width: 768px) {
    .speakers__container {
        padding-top: 44px;
    }
    
    .speakers__title {
        font-size: 32px;
        line-height: (39/32);

        margin-bottom: 20px;
    }
    
    .speakers__img {
        width: 152px;
        margin-bottom: 20px;
    }
    
    .speakers__list-item {
        width: 152px;
    }
    
    .speakers__list {
        flex-wrap: nowrap;
        gap: 32px;
    }
    
    .name {
        font-size: 18px;
        line-height: (22/18);

        margin-bottom: 20px;
    }
    
    .position {
        font-size: 14px;
        line-height: (17/14);
    }
}

@media screen and (min-width: 1200px) {
    .speakers__container {
        padding-top: 100px;
    }
    
    .speakers__title {
        margin-bottom: 5px;
    }
    
    .speakers__img {
        width: 288px;
    }
    
    .speakers__list-item {
        width: 288px;
    }
    
    .position {
        font-size: 16px;
        line-height: (20/16);
    }
}