body {
    background-color: var(--background-color);
    // color: var(--primary-text-color);
  
    font-family: 'Montserrat'
  }
  
// !Сбросил точки в списках
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  // !Сбросил подчеркивание и тип шрифта для ссылок
  .link {
    text-decoration: none;
    font-style: normal;
  }
  
  // !Сбросил отступ у картинок
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  // ! Шрифт для заголовков
  .title {
    font-family: Montserrat Alternates;
    color: var(--title-text-color);
    margin: 0;

    text-shadow: 4px 4px 7px rgba(0,0,0,0.6);
  }