.open-mobile-menu-button {
    border: none;
    background-color: inherit;
}

.hero-button {
    background: #F3848C;
    box-shadow: 10px 15px 25px rgba(232, 183, 183, 0.45);
    border-radius: 25px;
    text-align: center;
    border: none;
    padding: 9px 35px;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: (22/18);
    color: #FFFFFF;
}

.mobile-menu-close-button {
    border: none;
    background-color: inherit;
    width: 32px;
    height: 32px;
}