:root {
    // --brand-color: #2196f3;
    // --background-color: #ffffff;
    // --header-background-color: #ffffff;
    // --hero-title-color: #ffffff;
    --primary-text-color: #3C322D;
    --title-text-color: #3C322D;
    // --accent-color: #2196f3;
    // --button-background-color: #f5f4fa;
    // --background-color-hero: #c4c4c4;
    // --background-color-footer: #2f303a;
    // --team-section-background-color: #f5f4fa;
    --maine-font: Montserrat;
    --title-font: Montserrat Alternates;
    --button-font: roboto;
    // --bg-color-overlay: rgba(33, 150, 243, 0.9);
    // --transition-time-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }